body {
	background-color: #303342;
	color: #fff;
}

.page-wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 5px;
	background-color: #363B4E;
}

.menu {
	border-top: 1px solid #303342;
	border-bottom: 1px solid #303342;
}

figure img{
	max-width: 960px;
	max-height: 360px;
}

h2{
	font-family: 'Knewave', sans-serif;
	font-weight: 400;
}